html, boy {
      width: 100%
      height: 100%
      padding: 0;
      margin: 0px;
}

slider {
     display: block;
     width: 100%;
     height: 100 %;
     background-color: #1f1f1f;
     overflow: hidden;
     position: absolute;
}

slider > * {
    position: absolute;
     display: block;
     width: 100%;
     height: 100 %;
     background:  #1f1f1f;
     animation: slide 12s infinite;
     overflow: hidden;
}

slide:n-th child(1) {
    left: 0%;
    animation-delay: -1s;
    background-image: url(/C:/Users/markus_patrick/Desktop/Carousel/Img/thailand.jpg)
    background-size: cover;
    background-position: : center;
}

slide:n-th child(2) {
    left: 0%;
    animation-delay: 2s;
    background-image: url(/C:/Users/markus_patrick/Desktop/Carousel/Img/singapore.jpg)
     background-size: cover;
    background-position: : center;
}

slide:n-th child(3) {
    left: 0%;
    animation-delay: 5s;
    background-image: url(/C:/Users/markus_patrick/Desktop/Carousel/Img/germany.jpg)
     background-size: cover;
    background-position: : center;
}

slide:n-th child(4) {
    left: 0%;
    animation-delay: 8s;
    background-image: url(/C:/Users/markus_patrick/Desktop/Carousel/Img/denmark.jpg)
    background-size: cover;
    background-position: : center;
}

slide:n-th child(5) {
    left: 0%;
    animation-delay: 11s;
    background-image: url(/C:/Users/markus_patrick/Desktop/Carousel/Img/norway.jpg)
    background-size: cover;
    background-position: : center;
}

slide:n-th child(6) {
    left: 0%;
    animation-delay: 14s;
    background-image: url(/C:/Users/markus_patrick/Desktop/Carousel/Img/czech republic.jpg)
    background-size: cover;
    background-position: : center;
}


slide:n-th child(7) {
    left: 0%;
    animation-delay: 17s;
    background-image: url(austria.jpg)
    background-size: cover;
    background-position: : center;
}

slide p {
    font-family: Comfortaa;
    font-size: 70px;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 340px;
    color: #fff;
    
}

@keyframes slide {
    0% {left: 100%; width:100%;}
    5% {left:0%;}
    25%{left:0%;}
    30% {left: -100%; width:100%;}
    30.000% {left: -100%; width:0;}
    100% {left:100%; width: 0%;}
}